In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame()

In [3]:
data['outlook']=['Rainy','Rainy','Rainy','Rainy','Rainy','Overcast','Overcast',
        'Overcast','Overcast','Sunny','Sunny','Sunny','Sunny','Sunny']

In [4]:
data['Play']=['No','No','No','Yes','Yes','Yes','Yes','Yes','Yes','Yes','Yes',
     'No','Yes','No']

In [5]:
data

     outlook Play
0      Rainy   No
1      Rainy   No
2      Rainy   No
3      Rainy  Yes
4      Rainy  Yes
5   Overcast  Yes
6   Overcast  Yes
7   Overcast  Yes
8   Overcast  Yes
9      Sunny  Yes
10     Sunny  Yes
11     Sunny   No
12     Sunny  Yes
13     Sunny   No

### Goal:find probability that Players will play if weather is sunny.


$$P(Play=Yes\mid outlook=Sunny) = \frac{P(outlook=Sunny\mid Play=Yes)*P(Yes)}{P(outlook=Sunny)}$$


As we know that:
 $$P(A\mid B) = \frac{P(B\mid A)P(A)}{P(B)}$$

#### Create Frequency table and Likelihood table

<img src="images/table.PNG"/>

$$P(Play=Yes\mid outlook=Sunny) = \frac{0.33*0.64}{0.36}=0.60 $$